<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-box">
        <div class="login-selection-container">
            <h1>My Therapist</h1>
            <a href="/patient-login" class="login-button">Patient Login</a>
            <a href="/therapist-login" class="login-button">Therapist Login</a>
        </div>
    </div>
</body>
</html>
